body {background-color:MediumPurple;}

	h1 {
		text-align: center;
		color: yellow;
		background: linear-gradient(110deg, #FF0000 75%, yellow 45%);
    font-style: Oblique;
	}
   div {
	position: absolute;
	width:800px;
     text-align: center;
    font-style: Oblique;
    font-size:100%;
	background-color:white;
	top: 50%;
	left: 50%;
   	
	}
